.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.header .header_left {
    display: flex;
    align-items: center;
    gap: 150px;
    margin: 0 0 0 200px;
}

.header input#search {
    width: 410px;
    height: 30px;
    padding: 0 10px 0 15px;
    border: 0 solid white;
    border-radius: 6px;
    background-color: #F2F4F6;
    color: #2c3c44;
    font-size: 17px;
    font-weight: 600;
    box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.header input#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2c3c44;
    opacity: 1; /* Firefox */
}

.header input#search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2c3c44;
}

.header input#search::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c3c44;
}

.header .header_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 160px 0 0;
    color: #36454d;
    font-weight: 200;
}

.header_right .text {
    margin: 0;
}

.header_right .header_date {
    display: flex;
    flex-direction: row;
}

.header_right .header_date .clock {
    width: auto;
    height: auto;
    margin: 0 10px 0 20px;
}
